<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVmsXw2xS-GLBkP4TwoCCDiIapio9i4KY</string>
	<key>GCM_SENDER_ID</key>
	<string>1071428580437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaebi.CombineMarbleDiagram</string>
	<key>PROJECT_ID</key>
	<string>combinemarblediagram</string>
	<key>STORAGE_BUCKET</key>
	<string>combinemarblediagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071428580437:ios:6b0e101841f246f20fd0dc</string>
</dict>
</plist>